<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					My popup bootstrap.
				</h5>
				<div class="card-body">
					<p class="card-text">
						Here is where the stuff goes.
					</p>
					<a id="modal-951014" href="#modal-container-951014" role="button" class="btn border border-default" data-toggle="modal">Load Component</a>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
			 
			
			<div class="modal fade" id="modal-container-951014" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
								Modal title
							</h5> 
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate justo et lectus commodo volutpat. Aenean mattis dolor metus, et aliquet quam pellentesque interdum. Mauris fermentum metus sed viverra mollis. Etiam posuere diam nec diam vestibulum scelerisque. Etiam sit amet laoreet est. Nunc vel sollicitudin elit. Nam blandit diam vel mi convallis laoreet. Integer consectetur euismod arcu vitae maximus. Cras ac turpis dolor. -->
							<app-chart-post></app-chart-post>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn border border-blue">
								Save changes
							</button> 
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								Close
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>